version: "3.8"

services:
  nginx:
    image: deskarp/platform-nginx:latest
    ports:
      - "8080:80"
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  backend:
    image: deskarp/platform-backend:latest
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://myuser:mypass@postgres:5432/pgdb
      - REDIS_URL=redis://redis:6379
    build: 
      context: .
      dockerfile: ./backend/Dockerfile
    depends_on:
      - postgres
      - redis
    deploy: 
      replicas: 2
      restart_policy:
        condition: on-failure

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: pgdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  redis:
    image: redis:8.2.3
    ports:
      - "6379:6379"
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

