version: "3.8"

services:
  nginx:
    image: deskarp/platform-nginx:latest
    ports:
      - "8080:80"           # Swarm сам балансирует между репликами nginx
    deploy:
      replicas: 2           # 2 реплики nginx для балансировки
      restart_policy:
        condition: on-failure
    networks:
      - app-network

  backend:
    image: deskarp/platform-backend:latest
    environment:
      - NODE_ENV=development
      - PORT=5000
    # НЕ публикуем порт - доступ только через nginx
    deploy: 
      replicas: 2
      restart_policy:
        condition: on-failure
    networks:
      - app-network

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: pgdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    configs:
      - source: postgres_init
        target: /docker-entrypoint-initdb.d/init.sql
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - app-network

  redis:
    image: redis:8.2.3
    ports:
      - "6379:6379"
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - app-network

networks:
  app-network:
    driver: overlay
    attachable: true

configs:
  postgres_init:
    file: ./init.sql

volumes:
  postgres_data: